.logout_1{
    padding: 10px;
    background-color: red;
    border:none;
    border-radius: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    position: absolute;
    margin-top: 140px;
    bottom: 825px;
    left: 2025px;
    
}
.goback1{
    
    padding: 10px;
    background-color: green;
    border:none;
    border-radius: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    position: absolute;
    margin-top: 70px;
    bottom: 55px;
        
    
}
.goback1:hover{
    background-color: red;
}
.logout1:hover{
    background-color: rgb(6, 243, 171);
}
.text-center{
    position: absolute;
    color:rgb(166, 245, 240);
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    left: 755px;
    top: 115px;
}

#button321{
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    font-size: 16px;
    right: 150px;

}
table {
    border: 1px solid black;
    background-color: green;
    position: absolute;
    left: 225px;
    top: 200px;
  }
thead{
    left: 1.5px;
    border: 2px solid black;
}
td, th {
    border: 2px solid black;
    padding: 2px;
}


.icycold2{
    text-align: center;
    bottom: 10px;
    border: 2px solid black;

    padding: 10px;
}

.icyhot_title{
    margin-bottom: 125px;
    text-align: center;
    right: 10px;
    border:2px solid black;
    
    position: relative;
}
td{
    position: absolute;
    top: 125px;
    left: 125px;
    color: #000000;

}
.link1{
    color: black;
}
.button_forever {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 1610px;
    font-size: 16px;
  }
.button123{
    position: relative;
  
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: green;

    border-radius : 12px;
    
}
.button1:hover{
    background-color: red;
}
.button2{
    left: px;
    top: 225px;
    position: absolute;
    color: green;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}

#link{
    position: absolute;
    right: 40px;
    color: pink;
    border: 2px solid black;
 
}
.outside2{
    width: 120%;
    background-image: url(../images/top_2.jpg);
    background-size:auto;
    background-position: center;
    background-repeat: repeat;
    height: 100vh;
    overflow: auto;
    box-shadow: rebeccapurple;
  }

.centered-header2{
    text-align: center;
    width: 60%;             /* Set the desired width */ 
    margin: 0 auto;
    font-size: 40px;        /* Center the element horizontally */ 
    font-family:Monospace;
    color: rgb(52, 235, 134);
    position: relative;
    top: 40px;
    right: 150px;
}
.logout1{
    color: black;
    padding: 10px;
    border-radius: 15px;
    position: absolute;
    right: 25px;
    top: 90%;
    background-color: green;
}
audio{
    position: relative;
   
}
